{% extends "base.html" %}
{% block title %}
Titulo feed
{% endblock %}

{% block content %}
<p>
  Lorem ipsum dolor sit amet, consectetur 
 adipiscing elit. Curabitur mollis risus id facilisis faucibus.
  Vestibulum a ligula eu ante vulputate dignissim. Suspendisse
  condimentum leo ut nulla vestibulum blandit. Suspendisse at 
  nibh in nibh accumsan tincidunt. Ut tempor urna eget lacus molestie,
  in volutpat velit dignissim. Phasellus at augue vitae quam iaculis
  eleifend feugiat eget est. Nulla a consequat velit. Vivamus pretium
  lobortis mauris non elementum. Phasellus malesuada magna at maximus
  pretium. Nam a egestas est.
  In ut interdum lectus, a pulvinar massa. Duis eget dui justo. Aliquam 
  commodo scelerisque ipsum. Donec dapibus lorem quis dolor rutrum, sed 
  vehicula urna pulvinar. Pellentesque laoreet porta nisi, vitae gravida
   nibh pretium sed. Suspendisse imperdiet purus a erat facilisis vulputate
   . Nullam nisi turpis, interdum porta libero vel, faucibus blandit quam.
  </p>
  <h4>{{ dameFecha }}</h4>
 
{% endblock %}
